modules/page/settings.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!-- Define the root element -->
  <xs:element name="settings">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="default_page_id" type="xs:string" minOccurs="1" maxOccurs="1"/>
        <xs:element name="error_page_template" type="xs:anyURI" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>